{% load/core/home.html}

<!DOCTYPE <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

<!-- HEADER -->
<header>
    <div class="logo">Our E-commerce</div>
    <nav>
        <a href="#">Home</a>
        <a href="#">Shop</a>
        <a href="#">Categories</a>
        <a href="#">Contact</a>
    </nav>
</header>>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-text">
        <h1>Welcome to Our E-Commerce
        </h1>
        <p>Best Deals. Top Products, great Prices!
        </p>
        <button>Shop Now</button>

    </div>
    <div class="hero-image">
        <img src="! static 'image/">

    </div>
</section>
</body>
</html>>